{{ define "main" }}
<form action="{{ .RelPermalink }}" class="search-form" data-json="{{ "search/index.json" | relLangURL }}">
    <p>
        <label>{{ T "search.title" }}</label>
        <input name="keyword" placeholder="{{ T "search.placeholder" }}" />
    </p>
    <button title="{{ T "search.title" }}">
        {{ partial "helper/icon" "search" }}
    </button>
</form>

<div class="search-result">
    <h3 class="search-result--title section-title"></h3>
    <div class="search-result--list article-list--compact"></div>
</div>

{{- $js := resources.Get "ts/search.tsx" | js.Build (dict "minify" true "target" "es2015") -}}
<script src="{{ $js.RelPermalink }}" defer></script>
{{ end }}
