<script async src="https://www.googletagmanager.com/gtag/js?id=G-92N7W10SPC"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-92N7W10SPC');
</script>
{{ if .IsPage }}
<div id="reading-progress-bar"></div>

<style>
    #reading-progress-bar {
        position: fixed;
        top: 0;
        left: 0;
        width: 0%;
        height: 4px;
        background: var(--theme-color); /* 테마 컬러 자동 상속 */
        box-shadow: 0 0 8px var(--theme-color);
        z-index: 9999;
        transition: width 0.1s ease-out;
    }
</style>

<script>
    window.addEventListener('scroll', () => {
        const winScroll = document.body.scrollTop || document.documentElement.scrollTop;
        const height = document.documentElement.scrollHeight - document.documentElement.clientHeight;
        const scrolled = (winScroll / height) * 100;
        const bar = document.getElementById("reading-progress-bar");
        if (bar) bar.style.width = scrolled + "%";
    });
</script>
{{ end }}